<%= form_tag('/events', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <input placeholder="タイトル" type="text" name="title">
    <input placeholder="日時" type="text" name="time">
    <input placeholder="場所" type="text" name="place">
    <textarea cols="30" name="detail" placeholder="詳細" rows="10"></textarea>
    <input type="submit" value="SENT">
<% end %>